.team_container {
    padding: 70px 5% 70px 5%;
}

@media screen and (max-width: 768px) {
    .team_container {
        padding: 50px 20px;
    }
}

.team-member-image-container { 
    width: 50%;
    height: 50vh;
    left: 0%;
    top:0%;
    right: 0%;
    bottom: 0%;
    margin: auto;
    background: #000000;
}