.service_container {
  padding: 50px 5% 70px 5%;
}

.card_container .image{
  width: 100px;
  margin-left: 80px;
}


@media screen and (max-width: 768px) {
  .service_container {
    padding: 50px 20px;
  }
}
