.social_media_wrapper {
  right: 20px;
  top: 100px;
  position: fixed;
  z-index: 999;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.social_media_icon svg path {
  fill: #ddd6f3;
  stroke: #faaca8;
}

.social_media_icon.fade-out {
  animation: fadeOut 1s forwards;
}

.social_media_icon.fade-in {
  animation: fadeIn 1s forwards;
}

.social_media_icon {
  background-color: #ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
  opacity: 1;
  animation: fadeIn 1s forwards;
}

.social_icons_wrapper a {
  width: fit-content;
}

.social_icons_wrapper {
  gap: 8px;
  flex-direction: column;
}

.social_media_icon:hover {
  transform: scale(1.2);
}
