.main_container {
  width: 100%;
  padding: 114px 118px 100px 118px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .main_container {
    padding: 50px 20px;
    position: relative;
  }
}
